<app-sidenav [totalItem]="totalStats" >
  <mat-toolbar class="second-mat-toolbar">
    <span class="fill-remaining-space"></span>
    <span>Backup</span>
    <span class="fill-remaining-space" ></span>
    <a button mat-raised-button class="btn btn-clear" title="Download JSON" [href]="dlSer.downloadJsonHref" download="entries_{{dlSer.myDate | date: 'shortDate'}}.json">
      <mat-icon>file_download</mat-icon>
      Download
    </a>
  </mat-toolbar>

  

    
  
  <app-entry-table [displayedColumns]="['date', 'game', 'heroine',  'lines', 'chars', 'mins', 'pace']" [entryList]="filteredEntriesArray">
  </app-entry-table>
  <mat-card class='filterBox'>
    <span class="fill-remaining-space" ></span>
    <mat-form-field appearance="fill" class='filterBar'>
      <mat-label>VN</mat-label>
      <mat-select (selectionChange)="applyGameFilter()" [(value)]='gameFilter'>
        <mat-option value="">All</mat-option>
        <mat-option value="{{game}}" *ngFor="let game of gameNames">{{game}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="fill-remaining-space" ></span>
    <mat-form-field appearance="fill" class='filterBar'>
      <mat-label>Route</mat-label>
      <mat-select (selectionChange)="applyRouteFilter()" [(value)]='routeFilter'>
        <mat-option value="">All</mat-option>
        <mat-option [value]="route" *ngFor="let route of routeNames">{{route}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="fill-remaining-space" ></span>
  </mat-card>
  <app-line-graph [entries]='filteredEntriesArray' [gameFilter]='gameFilter' [routeFilter]='routeFilter'></app-line-graph>
</app-sidenav>


