<mat-toolbar class="second-mat-toolbar">
    <span>{{entryService.entryForm.controls['$key'].value?"Modify Entry":"New Entry"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="entryService.entryForm" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="contols-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field >
                    <input formControlName="lines" matInput placeholder="Lines*" autocomplete="off" type="number" >
                    <mat-error *ngIf="entryService.entryForm.controls['lines'].errors?.required" >This field is mandatory</mat-error>
                    <mat-error *ngIf="entryService.entryForm.controls['lines'].errors?.pattern">Enter a number</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input formControlName="chars" matInput placeholder="Characters*" autocomplete="off" type="number" >
                    <mat-error *ngIf="entryService.entryForm.controls['chars'].errors?.required">This field is mandatory</mat-error>
                    <mat-error *ngIf="entryService.entryForm.controls['chars'].errors?.pattern">Enter a number</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input formControlName="mins" matInput placeholder="Minutes*" autocomplete="off" type="number" >
                    <mat-error *ngIf="entryService.entryForm.controls['mins'].errors?.required">This field is mandatory</mat-error>
                    <mat-error *ngIf="entryService.entryForm.controls['mins'].errors?.pattern">Enter a number</mat-error>
                </mat-form-field>
                

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="contols-container">
                <mat-form-field>
                    <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Date" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="entryService.entryForm.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>

