
@import "../../../assets/styles/colors.scss";

mat-footer-row  mat-footer-cell{
  justify-content: center;
  font-style: italic;
}
.mat-paginator {
  background: $card;
}

mat-table{
  background: $card;
  min-width: 1000px;
}

mat-cell, mat-cell-header{
  font-size: 20px;
  text-align:  right;
}

mat-cell {
    justify-content: right;
    padding-left: 5px;
    padding-right: 5px;
}
mat-cell > span {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}
mat-header-cell {
  justify-content: right;
}
.overflow-wrapper{
  overflow-x: auto;
}
