<div class="my-flex-column img-bg">
    <app-navbar></app-navbar>
    <div class="fill-remaining-space"></div>
    
    <mat-card class="sign-forms">
        <mat-card-header>
            <div mat-card-avatar class="card-icon"></div>
            <mat-card-title>Japanese VN Tracker</mat-card-title>
            <mat-card-subtitle>Instructions</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">1. Login/Sign Up</mat-list-item>
                <mat-list-item role="listitem">2. Add Games: Title and Image Url</mat-list-item>
                <mat-list-item role="listitem">3. Add Routes: Heroine Name and Image Url</mat-list-item>
                <mat-list-item role="listitem">4. Add Entries: Chars, Lines, Time, and Date</mat-list-item>
            </mat-list>
            </mat-card-content>
        
    </mat-card> 
    
    <div class="fill-remaining-space"></div>
</div>

