
<!-- <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
      <h2 *ngIf="gameService.curGame.name">{{ gameService.curGame.name }} Routes</h2> 
    </mat-grid-tile>
    <mat-grid-tile>
      <input type="button" value="New Route" class="button">
    </mat-grid-tile>
  </mat-grid-list> -->

  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>{{ gameService.curGame.name }} Routes</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>New Route
    </button>
  </mat-toolbar>

  
  

  
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" >
      <div  fxFlex="25%" fxFlex.xs = "100%" fxFlex.sm = "50%" fxFlex.md = "33%" fxFlex.lg = "25%" fxFlex.xl = "20%" *ngFor="let route of routeService.routeArray; let i = index">
        <mat-card class="my-card"  >
          <mat-card-header>
            
            <div class="myTitle">
              <mat-card-title>{{ route.name }}</mat-card-title> 
              <mat-card-actions>
                <button mat-icon-button (click)="onEdit(route)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button (click)="onDelete(route.$key)" color="warn"><mat-icon>delete_outlines</mat-icon></button>
              </mat-card-actions>
            </div>
          </mat-card-header>
          <img mat-card-image src="{{ route.link }}" (click)="routeClicked(i)" routerLink="/entry_table">
          <mat-card-content>
            <h2>Characters: {{route.chars }}</h2>
            <h2>Days: {{ route.days }}</h2>
            <h2>Lines: {{ route.lines }}</h2>
            <h2>Time: {{ Math.floor(route.mins / 60) + ":" + ('0' + (route.mins % 60).toString()).slice(-2) }}</h2>
            <h2>Char/Hour: {{ Math.floor(route.chars/route.mins * 60)}}</h2>
          </mat-card-content>
          
        </mat-card>
      </div>
    </div>
  </div>
  
      
  