<mat-toolbar class="second-mat-toolbar">
    <span>{{routeService.routeForm.controls['$key'].value?"Modify Route":"New Route"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="routeService.routeForm" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">
        <mat-grid-tile>
            <div class="contols-container">
                <mat-form-field >
                    <input formControlName="name" matInput placeholder="Route Name*" autocomplete="off">
                    <mat-error *ngIf="routeService.routeForm.controls['name'].errors?.required" >This field is mandatory</mat-error>
                    <mat-error *ngIf="routeService.routeForm.controls['name'].errors?.maxlength">Max length of 250 chars.</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input formControlName="link" matInput placeholder="Picture Link*" autocomplete="off">
                    <mat-error *ngIf="routeService.routeForm.controls['link'].errors?.required" >This field is mandatory</mat-error>
                    <mat-error *ngIf="routeService.routeForm.controls['link'].errors?.maxlength ">Max length of 250 chars.</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="routeService.routeForm.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>

