<!-- 

<div *ngIf="(afAuth.user | async)">
    User is logged in

    <br>
    <button mat-raised-button color="primary" (click)="logOut()">
        Log out
    </button>
</div>

<mat-card class="sign-forms" *ngIf="!(afAuth.user | async)">
    <form  >
        <div >
            <h1></h1>User is not logged in
            <button mat-raised-button color="primary" routerLink="/login">
                Log in
            </button>
            <button mat-raised-button color="primary"  routerLink="/signup">
                Sign up
            </button>
        </div>
    </form>
</mat-card> -->






  
  

