@import "../../../assets/styles/colors.scss";

.app-sidenav-container {
    flex: 1;
    min-width: 100%;
    min-height: 100% ;
    height: 100%;
  }
  
  .app-sidenav-content {
    display: flex;
    height: 100%;
    background: $background;
    background-image: url("/assets/img/bg.png");
    background-size: cover;
    flex-direction: column;
  }
  
  .app-sidenav {
    width: 250px;
    background-color: $bot_bar;
  }
  
  .scroll-part{
    overflow-y: scroll;
  }
  
  .wrapper {
    margin: 50px;
    
  }
  mat-sidenav{
    border-right:0px;
  }

  .length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
   
  }