@import "../../../assets/styles/colors.scss";
.nav-card {
    //   margin: 79px 0px
    height: 100%;
    box-sizing: border-box;
    background-color: $bot_bar;
  }

.nav-img{
    height:335px;
    object-fit:cover;
}